name: Playwright Tests

on:
  workflow_dispatch:
    inputs:
      test_path:
        description: 'Optional: folder or specific test file to run'
        required: false
        default: ''
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: |
          if [ "${{ github.event.inputs.test_path }}" != "" ]; then
            echo "Running custom path"
            npx playwright test ${{ github.event.inputs.test_path }}
          else
            echo "Running CoreScenarios"
            npx playwright test tests/Regression/CoreScenarios
          fi
        continue-on-error: true

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: regression-report/